# Postgres - Compartilhado entre N8N e Evolution API
POSTGRES_USER=root
POSTGRES_PASSWORD=insira uma senha
POSTGRES_DB=n8n

# N8N Configuration
N8N_ENCRYPTION_KEY=insira uma senha
N8N_USER_MANAGEMENT_JWT_SECRET=insira uma senha
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

# Ollama Configuration
OLLAMA_HOST=ollama:11434